<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novoda.wallpaper">

    <uses-sdk android:minSdkVersion="7" 
              android:targetSdkVersion="7"/>
              
    <application
        android:label="@string/wallpapers"
        android:icon="@drawable/ic_launcher_wallpaper">

        <service
            android:label="@string/title"
            android:name=".AnimSwitchWallPaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/wallpaper" />
        </service>
        
    </application>
</manifest>
