<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.novoda.demos.activitylaunchmode"
      android:versionCode="101"
      android:versionName="1.1">
    <uses-sdk android:minSdkVersion="4" />

    <application android:icon="@drawable/icon" android:label="Activities launchMode Demo"
     android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
     android:name=".BaseApplication">
    
        <activity android:name=".Standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SingleTop" android:launchMode="singleTop" />
        
        <activity android:name=".SingleTask" android:launchMode="singleTask" />
        
        <activity android:name=".SingleInstance" android:launchMode="singleInstance" />

    </application>
    
    <uses-permission android:name="android.permission.GET_TASKS"/>
</manifest>